body {
    font-family: 'Roboto', sans-serif;
    color: #242424;
    overflow-x: hidden;
}

.logo {
    font-family: 'Rubik Mono One', sans-serif;
}

.navbar {
    background-color: #242424;
    font-family: 'Roboto Mono', monospace;
}

#cabecalho {
    border-bottom: 3px solid #505050;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #242424;
}

#cabecalho .nav .nav-link:hover {
    color: rgb(229, 208, 138); 
}

#cabecalho .nav .nav-link.active:hover {
    color: #242424;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-loja .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #e9e9e955;
    transform: scale(0.8);
}

.section-tittle1,
.section-tittle2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

.section-tittle1 {
    color: #242424;
}

.section-tittle2 {
    color: rgb(229, 208, 138); 
}

#sobre-nos, #loja {
    background-color: #e9e9e9;
}

#servicos, #fale-conosco {
    background-color: #242424;
    color: #b8b8b8;
}

.text-yellow{
    color: rgb(229, 208, 138);
}

.nav-loja .nav-link.active {
    background-color: #242424;
    color: rgb(229, 208, 138);
}

.nav-loja .nav-link.active:hover {
    text-decoration: none;
    color: rgb(229, 208, 138);;
}

.nav-loja .nav-link {
    color: #242424;
}

.nav-loja .nav-link:hover {
    text-decoration: underline;
}

#loja img:hover {
    opacity: 0.8;
    transition: 800ms;
    cursor: pointer;
}

#fale-conosco button {
    background-color: rgb(229, 208, 138);
    color: #242424;
}

#fale-conosco button:hover {
    background-color: rgb(175, 158, 100);
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
    color: #b8b8b8;
}

.social-links a:hover {
    color: rgb(229, 208, 138);
}

@media (max-width: 992px) {

    header nav {
        margin-top: 40px;
    }

    .sobre {
        padding-top: 30px;
    }

    .nav-loja {
        font-size: 18px;
    }

    #cabecalho .nav .nav-link:hover {
        color: #fff; 
    }
}

@media (max-width: 767px) {
    .nav-loja {
        font-size: 16px;
    }

    #cabecalho .nav .nav-link:hover {
        color: #fff; 
    }
}



